@tailwind base;
@tailwind components;
@tailwind utilities;

.images {
  background-image: url("/home/slate.png");
  background-repeat: no-repeat;
}
.left-hero::after {
  background-image: url("/home/landback.png");
  background-repeat: no-repeat;
}
body {
  margin: 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: var(--font-roboto), sans-serif;
}
